.cart {
  position: fixed !important;
  z-index: 10;
  top: 0;
  right: 0;
  background-color: white;
  height: 100vh;
  width: 25vw;
  display: flex;
  flex-direction: column;
}

.cart-items {
  overflow-y: auto;
  height: 75%;
  margin: 0 12px;
}

.cart-title {
  font-size: 32px;
  font-weight: bold;
  background-color: #fbecd0;
  color:  #ED553B;
  padding: 12px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.cart-title svg {
  margin-left: auto;
  width: 28px;
  height: 28px;
  transition: transform ease-in-out .5s;
}

.cart-title svg:hover {
  cursor: pointer;
  transform: rotateZ(180deg);
}

.cart img {
  height: 80px;
  width: 50px;
}

.title {
  composes: title from "../Card/Card.module.css";
  font-size: 14px !important;
  width: 80% !important;
}

.price {
  composes: price from "../Card/Card.module.css";
  font-size: 16px !important;
}

.frame {
  composes: frame from "../Card/Card.module.css";
  grid-row: span 2;
  padding: 8px !important;
  position: relative;
}

.item-count {
  position: absolute;
  right: -8px;
  top: -8px;
}

.product-input {
  grid-column: 2;
  align-items: center;
}

.product-input button {
  width: 18px;
  height: 18px;
  padding: 3px;
}

.product-input input {
  height: 18px !important;
  width: 40%;
}

.cart-item {
  display: grid;
  grid-template-columns: auto minmax(0, 1fr);
  grid-template-rows: 1fr 1fr;
  padding: 12px 6px;
  margin: 10px auto;
  border: 2px solid rgb(197, 197, 197);
  border-radius: 10px;
  width: 70%;
}

.cart-item-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  /* This is a somewhat hacky fix to add a bit of margin before the book title
  As adding margin-top seemed to stretch the whole grid */
  height: calc(100% - 8px);
  align-self: end;
}

.total {
  display: flex;
  font-size: 20px;
  font-weight: 600;
  justify-content: space-between;
  padding: 8px 24px;
  border-top: 2px solid rgb(197, 197, 197);
}

.checkout-btn {
  font-size: 20px;
  font-weight: 600;
  outline: none;
  border: none;
  padding: 12px;
  margin: 8px auto;
  width: 70%;
  border-radius: 4px;
  background-color: #fbecd0;
  color:  #ED553B;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.checkout-btn:hover {
  color: #fbecd0;
  background-color:  #ED553B;
}

@media screen and (max-width: 1100px) {
  .cart {
    width: 40vw;
  }
}

@media screen and (max-width: 800px) {
  .cart {
    width: 40vw;
  }
  .cart img {
    width: 70px;
    height: 100px;
  }
  .cart-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
  }
  .cart-item-header {
    align-self: initial;
    gap: 5px;
    width: 100%;
  }
  .title {
    width: 100% !important;
  }
}

@media screen and (max-width: 576px) {
  .cart {
    width: 100vw;
  }
  .cart-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    justify-items: center;
  }
  .cart-item {

    height: fit-content;
  }
}