.cart-icon-wrapper {
  position: absolute;
  right: 24px;
}

.cart-icon-wrapper svg {
  width: 32px;
  height: 32px;
}

.button {
  background: none;
  outline: none;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.button:hover {
  background-color: rgb(231, 157, 157);
}

.item-count {
  top: 0;
  left: 22px;
  position: absolute;
}

.overflow {
  font-size: 9px;
  font-weight: 600;
}
