.button {
  background-color: #ED553B;
  border: none;
  color: white;
  cursor: pointer;
}

.button:hover {
  background-color: #ee472a;
}

.add-cart-btn {
  composes: button;
  padding: 4px 14px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight:300;
  letter-spacing: 1px;
  word-spacing: 1px;
}

.input-btn {
  composes: button;
  font-weight: bold;
  padding: 6px;
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}

.product-input {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 12px;
}

.product-input input {
  width: 20%;
  height: 24px;
  text-align: center;
  border: 2px solid #EAE8DF;
}

.product-input input::-webkit-outer-spin-button,
.product-input input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

