.card, .loading-card {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
}

.frame {
  border: 2px solid #EAE8DF;
  padding: 16px;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  justify-content: center;
}

.image {
  height: 350px;
  width: 200px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.title {
  font-size: 18px;
  padding: 2px;
  font-weight: 600;
  color: #393280;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 250px;
  text-align: center;
}

.author-name {
  font-size: 14px;
  color: #888888;
}

.price {
  font-size: 22px;
  color: #ED553B;
  font-weight: bold;
}

.price:before {
  content: "$ ";
}

.loading-image, .loading-title, .loading-author, .loading-price, .loading-btn {
  background: #eee;
  background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
  border-radius: 5px;
  background-size: 200% 100%;
  animation: 1.5s shine linear infinite;
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}

.loading-title {
  height: 18px;
  width: 125px;
}

.loading-author {
  height: 14px;
  width: 70px;
}

.loading-price {
  height: 22px;
  width: 50px;
}

.loading-image {
  width: 232px;
  height: 382px;
  background-color: gray;
}

.loading-btn {
  height: 24px;
  width: 110px;
  border: none;
}

