.paragraph {
  margin-top: 12px;
  font-size: 18px;
  line-height: 1.25;
  color: #ffe4e4;
  min-width: 100%;
  display: inline-block;
}

.paragraph a {
  color: #ED553B;
  text-decoration: none;
}

.paragraph a:hover {
  text-decoration: underline;
}

.carousel-frame {
  width: max(300px, 40vw);
  overflow: hidden;
}

.carousel {
  display: flex;
  transition: transform ease-in 0.5s;
}

.carousel-controls {
  display: flex;
  gap: 6px;
  margin-top: 12px;
}

.carousel-control {
  position: relative;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  cursor: pointer;
}

.control-inner-ring {
  position: absolute;
  top:50%;
  left: 50%;
  width: 40%;
  height: 40%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: #BEBEBE;
  transition: background-color ease-in-out 0.3s;
}

.active-control {
  border: 1px solid  #ED553B;
}

.active-control .control-inner-ring {
  background-color: #ED553B;
}

@media screen and (max-width: 400px) {
  
}
