.paragraph {
  margin-top: 12px;
  font-size: 18px;
  line-height: 1.25;
  color: #393280;
  min-width: 40vw;
  display: inline-block;
}

.carousel-frame {
  width: 40vw;
  overflow: hidden;
}

.carousel {
  display: flex;
  transition: transform ease-in 0.5s;
}

.carousel-controls {
  display: flex;
  gap: 6px;
  margin-top: 12px;
}

.carousel-control {
  position: relative;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  cursor: pointer;
}

.control-inner-ring {
  position: absolute;
  top:50%;
  left: 50%;
  width: 40%;
  height: 40%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: #BEBEBE;
  transition: background-color ease-in-out 0.3s;
}

.active-control {
  border: 1px solid green;
}

.active-control .control-inner-ring {
  background-color: rgb(54, 208, 54);
}

.paragraph:first-child {
  color: red;
}

.paragraph:nth-child(2) {
  color: green;
}
